<header>
  <div class="header-container">
    <img src="/assets/nrg-logo.svg" alt="Nrg Logo" class="logo">
    <p class="dsp-text">Digital Services Platform</p>
    <nav class="navigation">
      <a [routerLink]="['/sites']" routerLinkActive="active" class="nav-link">Sites</a>
      <a [routerLink]="['/opportunities']" routerLinkActive="active" class="nav-link">OPPORTUNITIES</a>
      <a [routerLink]="['/products']" routerLinkActive="active" class="nav-link">Products</a>
      <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link">ADMIN</a>
      <a [routerLink]="['/maintenance']" routerLinkActive="active" class="nav-link">MAINTENANCE</a>
      <a [routerLink]="['/closing-queue']" routerLinkActive="active" class="nav-link">CLOSING QUEUE</a>
    </nav>
    <div class="user-info">
      JOHN ▼
    </div>
  </div>
</header>
