<header>
    <div class="header-container">
      <img src="/assets/nrg-logo.svg" alt="Nrg Logo" class="logo">
      <p class="dsp-text">VHOS</p>
      <nav class="navigation">
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a>
        <a [routerLink]="['/sites']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Site</a>
        <a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Product</a>
        <a [routerLink]="['/opportunities']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Opportunities</a>
        <a [routerLink]="['/deal-options']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Deal Option</a>
        <a [routerLink]="['/status']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="nav-link">Status</a>
        <a [routerLink]="['/quotes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Quotes</a>
        <a [routerLink]="['/product-wizard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Product Wizard</a>
      </nav>
      <div class="user-info">
        JOHN ▼
      </div>
    </div>
  </header>
  