.site_list_container {
  margin: 0 auto;
  padding: 10px 40px;
}

.site_list_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #424242;
  margin-bottom: 10px;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: scroll;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

tr td {
  color: #afaeae;
}

.content-table thead tr {
  background: rgba(238, 238, 238, 1);

  color: #262626;
  text-align: left;
  font-weight: bold;
}

.content-table th {
  font-size: 14px;
  font-weight: 700;
  line-height: 14.72px;
  text-align: left;
  color: #404450;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.fd {
  text-decoration: underline;
}
